/* @tailwind base;
@tailwind components;
@tailwind utilities; */

#root{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  position: sticky;
  top: 0px;
  background-color: white;
  width: 100vw;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  /* border: 1px solid black; */
  width: 97vw;
}

.search-div{
  border: 1px solid blue;
  width: 38%;
  padding: 5px;
  border-radius: 5px;
}

input{
  border-style: none;
  width: 95%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.items-container-div{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  width: 97vw;
  
}

/* height - 450 0r 500px for small screen */
/*width - 50% for small screen */
.item-card-div{
  height: 400px;  
  width: 22.5%;   
  padding: 5px;
  margin: 10px;
  border: 2px solid whitesmoke;
}

.image-div{
  padding: 5px;
  height: 60%;
  width: 96.5%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.descr-div{
  padding: 1px;
  height: 36%;
}

.span-div{
  margin: 2px;
  padding: 2px;
 }

.span-div>span{
   margin: 2px;
}

/* width - 30 for small screen*/
button{
  padding: 5px;
  width: 70%; 
}

.cart-container {
  max-width: 1200px;
  margin-inline: auto;
}

.cart-container h2 {
  text-align: center;
  margin: 32px 0;
}

.cart-header {
  padding: 24px;
}

.cart-item-container:not(:last-child) {
  border-bottom: 1px solid #898989;
}

.cart-item-container {
  padding: 12px 24px;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cart-item-container > div:not(.cart-item) {
  justify-content: center;
}

.cart-item-container > div:last-child {
  justify-content: flex-end;
}

.cart-item-container img {
  width: 60px;
}

.cart-item-container > div {
  display: flex;
  align-items: center;
  gap: 12px;
} 

.cart-icon {
  position: relative;
}

@media (min-width: 1024px) {
  /* Styles for larger screens */
  .item-card-div{
    height: 400px; 
  }
  /* .header{
    width: 97vw;
  } */
  
}

@media (max-width: 1100px) {
  /* Styles for smaller screens */
  .item-card-div{
    height: 500px;  
  }
  /* .header{
    width: 80vw;
  } */
  
  }





