/* @tailwind base;
@tailwind components;
@tailwind utilities; */

#root{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  position: sticky;
  top: 0px;
  background-color: white;
  width: 100vw;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  /* border: 1px solid black; */
  width: 97vw;
}

.search-div{
  border: 1px solid blue;
  width: 38%;
  padding: 5px;
  border-radius: 5px;
}

input{
  border-style: none;
  width: 70%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}

.items-container-div{
  padding: 10px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  width: 97vw;
}

/* height - 450 0r 500px for small screen */
/*width - 50% for small screen */
.item-card-div{
  height: 450px;  
  width: 60%;   
  padding: 5px;
  margin: 10px;
  border: 2px solid whitesmoke;
}

.image-div{
  padding: 5px;
  height: 50%;
  width: 96.5%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.descr-div{
  margin: 2px;
  padding: 2px;
  height: 50%;
}

.descr-div>p{
margin: 1px;
padding: 1px;
height: 45%;
}

.span-div{
  margin: 2px;
  padding: 2px;
 }

.span-div>span{
   margin: 2px;
}

/* width - 30 for small screen*/
button{
  padding: 5px;
  width: 70%; 
}

.cart-container {
  /* max-width: 1200px; */
  width: 97vw;
  margin-inline: auto;
}

.cart-container h2 {
  text-align: center;
  margin: 32px 0;
}

.cart-header {
  padding: 24px;
}

.cart-item-container:not(:last-child) {
  border-bottom: 1px solid #898989;
}

.cart-item-container {
  padding: 12px 24px;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cart-item{
  width: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.cart-item div>h3{
  width: 150px;
  /* height: ; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
}

.cart-item-container > div:not(.cart-item) {
  justify-content: center;
}

.cart-item-container > div:last-child {
  justify-content: flex-start;
}

.cart-item-container img {
  width: 60px;
}

.cart-item-container > div {
  display: flex;
  align-items: center;
  gap: 12px;
} 

.removeButton{
  width: 60px;
  height: 30px;
  display: flex;
  text-align: center;
  text-wrap: wrap;
}

.cart-icon {
  position: relative;
}

h2{
  position: sticky;
  top: 55px;
  background-color: white;
}

.cart-header{
  position: sticky;
  top: 80px;
  background-color: white;
}



@media (max-width: 1200px) {
  /* Styles for medium size screens */
  .items-container-div{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    width: 97vw;
  }
  }

  @media (max-width: 800px) {
    /* Styles for tab screens */
    .items-container-div{
      padding: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      border: 1px solid black;
      width: 97vw;
    }
    }

    @media (max-width: 500px) {
      /* Styles for mobile screens */
      .items-container-div{
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr ;
        border: 1px solid black;
        width: 97vw;
      }
      }





